body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
} 
header{
    padding: 10px 24px 0px 20px;
    background: linear-gradient(180deg, #E6F4FE 31.77%, #00BBD5 100%);
}
 
.header__nav-bar{
    display: flex;
    justify-content: space-between;
    color: #113264;
}

.header__nav-bar--icon {
    font-size: 35px;
}
.header__nav-bar--icon a{
    color: #113264;
}
.header__nav-bar--icon a:hover{
    color: #00BBD5;
}


.header__nav-bar--tableau ul{
    display: flex;
    gap: 10px;
}
.header__nav-bar--tableau li{
    list-style-type: none ;
}
.header__nav-bar--tableau a{
color: #113264;
    text-decoration: none;
}
.header__nav-bar--tableau a:hover{
color: #00BBD5;
    text-decoration: none;
}
.header__sec--acceuil{
    padding: 0 24px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 61.5px);
}

.header__sec--acceuil--box{
    position: relative;
    width: 450px;
    background: transparent;
    backdrop-filter: blur(20px);
    padding:30px 40px ;
    border-radius: 25px;
    color: #113264;
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__sec--acceuil--box--nom{
    font-size: 120px;
    margin: 0px;
}
.header__sec--acceuil--box--prenom{
    font-size: 100px;
    margin: 0px;
}
.header__sec--acceuil--icon{
    color: #00BBD5 ;
    font-size: 100px;
    position: absolute;
}

.bx-code-alt{
    transform: translate(-100px, -200px) rotate(-30deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}
.bx-code-curly{
    transform: translate(200px, -300px) rotate(30deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeiconOne 20s infinite alternate;
}
.bxl-javascript{
    transform: translate(300px, -150px) rotate(-35deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeiconTwo 20s infinite alternate;
}
.bxl-html5{
    transform: translate(300px, -50px) rotate(30deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}
.bxl-css3{
    transform: translate(-700px, -50px) rotate(-30deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}
.blob{
    position:absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(180deg, #00D7AF 31.77%, #00BBD5 100%) ;
    border-radius:58% 42% 46% 54% / 39% 83% 17% 61%  ;
    transform: translate(-100px, -50px) rotate(90deg);
    transition: 1s cubic-bezier(.07, .8, .16, 1);
    animation: animeBlob 20s infinite alternate;
}

.blob:hover{
    width: 520px;
    height: 520px;
    filter: blur(30px);
    box-shadow: 
    inset 0 0 5px #AA63A0,
    inset 100px 0 0 #8167BA,
    inset 200px 0 0 #5D6BC5,
    inset 300px 0 0 #8CA3D8;
}
@keyframes animeBlob {
    100%{
        transform: translate(300px, 50px) rotate(-10deg);
        border-radius:22% 78% 25% 75% / 64% 57% 43% 36%  ;
    }
}

@keyframes animeicon {
    100%{
        transform: translate(-200px, -50px) rotate(-20deg);
    }
}
@keyframes animeiconOne {
    100%{
        transform: translate(-200px, -50px) rotate(-30deg);
    }
}
@keyframes animeiconTwo {
    100%{
        transform: translate(-200px, -50px) rotate(20deg);
    }
}

.sec__competances{
    padding: 10px 24px 0px 20px;
    background: linear-gradient(180deg, #00BBD5 31.77%, #E6F4FE 100%);
    height: 100vh;
}
.sec__competances__titre{
    color: #113264;
    font-size: 35px;
    text-align: center;
}

.sec__competances__box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec__competances__box--img{
    width: 300px;
    border-top-left-radius:9px ;
    border-top-right-radius:9px ;
    transition: 1s;
}
.sec__competances__box--img:hover{
    transform: scale(1.1);
}
.box__com{
    width: 300px;
    background: #0090FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
}
.box__com p{
    text-align: center;
}